body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size:50px;
}
.name-highlight{
    color: orange;
}
.helf-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
    padding-top: 1%;
}
.helf-width img{
    width: 100%;
}
.align{
    text-align: justify;
}
.top-banner{
    background-image: url("../images/top-banner.png");
    background-repeat: no-repeat;
}

section{
    height: 500px;
}
img.topimg1 {
    width: 433px;
    height: 411px;
    margin-left: 83px;
    margin-top: 75px;
}